*.pch
*.scc
*.obj
*.aps
*.opt
*.plg
*.pdb
*.idb
*.xls
*.smd
*.opd
*.gtd
*.tct
*.dxt
*.gtt
*.n3camera
*.n3fxbundle
*.n3fxpart
*.n3light
*.n3pmesh
*.n3shape
*.fxb
*.bmp
*.zip
*.rar
*.chm
*.doc
*.dsw
*.html
.idea
*.md
build/
Rokoko DB 1098 DUMP from SQL 2000
1102-db DUMP from SQL 2000
import-npcpos-data.ps1
knightonline_v1264
KnightOnline_cn_1097
.vscode
.idea
Client Source Code/WarFare/Release
Client Source Code/WarFare/.vs
1097 Client/Log.txt
*.htm
.vs